@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap')

* {
    margin: 0;
    padding: 0;
    
}


body {
	min-height: 100vh;
	  text-rendering: optimizeSpeed;
	  line-height: 1.5;
	  background-color: rgba(243, 229, 215, 1);
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  font-family: "Orienta", sans-serif;
	  
}

html:focus-within {
  scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

.card {
	background-color: white;
	border-radius: 30px;
	width: 800px;
	height: 1860px;
	padding: 40px;
}

.card img {
	border-radius: 30px;
}

.card .content {
	background-color: white;
	margin: 40px 0px;
	
	width: 100%;
}

.content .titles {
	padding-bottom: 32px;
}

.titles p {
	font-size: 16px;
}

.content .preparation {
	background-color: rgba(255, 247, 251, 1);
	padding: 28px;
	margin-bottom: 32px;
}
.content .preparation h2 {
	color: rgba(133, 70, 50, 1);
}
.content .preparation ul li:first-of-type {
	padding-bottom: 10px;
}

.content .preparation ul li:last-of-type {
	padding-top: 10px;
}

.content .ingredients h3 {
	color: rgba(133, 70, 50, 1);
	font-size: 30px;
}
.content .ingredients ul li {
	padding-bottom: 10px;
}

hr {
	margin:32px 0px;
}
.content .instructions h4 {
	font-size: 30px;
	color: rgba(133, 70, 50, 1);
}

.content .instructions ol li {
	padding-bottom: 10px;
}

.content .nutrition h5 {
	color: rgba(133, 70, 50, 1);
	font-size: 30px;
	margin: 10px 0px;
}

.content .nutrition p {
	margin: 15px 0;
}

.content .nutrition #nutrition-data {
	width: 100%;
	
	
}

.content .nutrition #nutrition-data tr {
	padding: 20px 0;
	border-bottom: 1px solid #ddd;
}